@import '@odf/shared/style.scss';

.odf-general-overview__grid {
  padding-left: $pf-v5-global-gutter;
  padding-right: $pf-v5-global-gutter;
  @media(min-width: $pf-v5-global--breakpoint--xl) {
  padding-left: $pf-v5-global-gutter--md;
  padding-right: $pf-v5-global-gutter--md;
  }
}

.odf-general-overview__card {
  border-radius: 15px;
}
